doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1')
    title TastyPlug
    link(href='https://tastyplug.tastycat.org/style/normalize.css', rel='stylesheet', type='text/css')
    link(href='https://tastyplug.tastycat.org/style/skeleton.css', rel='stylesheet', type='text/css')
  body
    div
      h1 TastyPlug - The plug.dj extension.
      h3 Drag the "TastyPlug" button to your bookmarks or right click it to save as a bookmark.
      span
        a(href="javascript:(function(){$.getScript('https://tastyplug.tastycat.org/tastyplug.min.js');}());")
          button TastyPlug
      hr
      h3
        a(href='https://tastyplug.tastycat.org/tastyplug.user.js') Click here for the UserScript extension.
        | (for Greasemonkey and Tampermonkey)
      p
        | Official extension will come later.  Google Chrome Webstore extension has to be manually reviewed and
        | approved by google.  I will also submit it to the mozilla store.