doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        title TastyPlug
        link(href='https://tastyplug.tastycat.org/style/normalize.min.css', rel='stylesheet', type='text/css')
        link(href='https://tastyplug.tastycat.org/style/skeleton.min.css', rel='stylesheet', type='text/css')
        link(href='https://tastyplug.tastycat.org/style/hint.min.css', rel='stylesheet', type='text/css')
        style.
            html, body {
                height: 100%;
            }
            .center {
                text-align: center;
            }
            @media (min-width: 1000px) {
                body {
                    background: #0C0C0C url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTY2JyBoZWlnaHQ9JzI2NS42JyB2aWV3Qm94PScwIDAgMTAgMTYnPgogICAgPGcgaWQ9J2MnPgogICAgICA8cGF0aCBmaWxsPScjMEQwRDBEJyBkPSdNMCAwbDUgM3Y1bC01IC0zeicvPgogIAkJPHBhdGggZmlsbD0nIzBGMEYwRicgZD0nTTEwIDBsLTUgM3Y1bDUgLTMnLz4KICAJPC9nPgogIAk8dXNlIHg9JzUnIHk9JzgnIHhsaW5rOmhyZWY9JyNjJyAvPgogIAk8dXNlIHg9Jy01JyB5PSc4JyB4bGluazpocmVmPScjYycgLz4KICA8L3N2Zz4KICA=);
                }
                .container {
                    background-color: #ffffff;
                    padding: 4rem;
                    min-height: 100%;
                }
            }
    body
        div.container
            center
                h1 TastyPlug - The plug.dj extension.
            div.row
                center 
                    h5 Drag the "TastyPlug" button to your bookmarks or right click it to save as a bookmark.
                span
                    div.row
                        div.three.columns
                            a(href="javascript:(function(){$.getScript('https://tastyplug.tastycat.org/tastyplug.min.js');}());")
                                button(data-hint="Recommended").hint--bottom.hint--success.hint--rounded TastyPlug
                        div.three.columns
                            a(href="https://tastyplug.tastycat.org/tastyplug.user.js")
                                button(data-hint="for Greasemonkey and Tampermonkey").hint--bottom.hint--info.hint--rounded UserScript
                        div.three.columns
                                button(data-hint="Soon").hint--bottom.hint--error.hint--rounded Firefox
                        div.three.columns
                            a(href="https://chrome.google.com/webstore/detail/tastyplug/faccgibalfdoihmenknhpfhldkmgaang",target="_blank")
                                button(data-hint="It may take up to 12 hours to receive updates!").hint--bottom.hint--warning.hint--rounded Chrome
            hr
            h4.center Features
            div.row.u-center
                div.one-half.column
                    ul.u-pull-right
                        li AutoWoot
                        li AutoJoin
                        li Hide Video
                        li Legacy Chat
                        li Booth Alert
                        li Chat Images
                div.one-half.column
                    ul.u-pull-left
                        li Custom Emotes
                        li Chat Mentions
                        li
                            h6 Join Notifications
                            ul
                                li Ranks
                                li Friends
