doctype html
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        title TastyPlug
        link(href='https://tastyplug.tastycat.org/style/normalize.min.css', rel='stylesheet', type='text/css')
        link(href='https://tastyplug.tastycat.org/style/skeleton.min.css', rel='stylesheet', type='text/css')
        link(href='https://tastyplug.tastycat.org/style/hint.min.css', rel='stylesheet', type='text/css')
        script(type='text/javascript').
            var warned = false;
            var $ = {
                getScript: function() {
                    if (warned) return;
                    var intro = document.getElementById('intro');
                    var error = document.createElement('p');
                    error.textContent = "The TastyPlug button is a bookmark, clicking it on this site does nothing.";
                    error.textContent += " Please drag it to your bookmarks or right click it to save as a bookmark.";
                    error.className += "error center";
                    intro.appendChild(error);
                    warned = true
                }
            };
        style(type='text/css').
            html, body {
                height: 100%;
            }
            .center {
                text-align: center;
            }
            @media (min-width: 1000px) {
                body {
                    background: #0C0C0C url(data:image/svg+xml;base64,CiAgPHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nMTY2JyBoZWlnaHQ9JzI2NS42JyB2aWV3Qm94PScwIDAgMTAgMTYnPgogICAgPGcgaWQ9J2MnPgogICAgICA8cGF0aCBmaWxsPScjMEQwRDBEJyBkPSdNMCAwbDUgM3Y1bC01IC0zeicvPgogIAkJPHBhdGggZmlsbD0nIzBGMEYwRicgZD0nTTEwIDBsLTUgM3Y1bDUgLTMnLz4KICAJPC9nPgogIAk8dXNlIHg9JzUnIHk9JzgnIHhsaW5rOmhyZWY9JyNjJyAvPgogIAk8dXNlIHg9Jy01JyB5PSc4JyB4bGluazpocmVmPScjYycgLz4KICA8L3N2Zz4KICA=);
                }
                .container {
                    background-color: #ffffff;
                    padding: 4rem;
                    min-height: 100%;
                }
            }
            .error {
                margin: 1rem;
                padding: 15px;
                background-color: #f2dede;
            }
            .bold {
                font-weight: bold;
            }
    body
        div.container
            h1.center TastyPlug - The plug.dj extension.
            #intro.center
                h5 Use the UserScript for the quickest updates and the best experience.
                p Firefox must use the userscript with <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">Greasemonkey</a>
                | .  Chrome users can either use the userscript with <a href="https://chrome.google.com/webstore/detail/tampermonkey/dhdgffkkebhmkfjojejmpbldmpobfkfo">Tampermonkey</a>
                | or have slower updates with the <a href="https://chrome.google.com/webstore/detail/tastyplug/faccgibalfdoihmenknhpfhldkmgaang">Chrome Web Store extension</a>.
                p All of them,
                    span.bold  except for the bookmark
                    | , start automatically when you enter a room on plug.dj. If you wish to
                    | start it manually instead, drag the "TastyPlug" button to your bookmarks or
                    | right click it to save as a bookmark.
                p Hover over a button to see more information.

                div.row
                    div.one-third.column
                        a(href="https://tastyplug.tastycat.org/tastyplug.user.js")
                            button(data-hint="Recommended. Use any UserScript Extension.").hint--bottom.hint--info.hint--rounded UserScript
                    div.one-third.column
                        a(href="javascript:(function(){$.getScript('https://tastyplug.tastycat.org/tastyplug.min.js');}());")
                            button(data-hint="Manual Bookmark").hint--bottom.hint--success.hint--rounded TastyPlug
                    div.one-third.column
                        a(href="https://chrome.google.com/webstore/detail/tastyplug/faccgibalfdoihmenknhpfhldkmgaang",target="_blank")
                            button(data-hint="It may take up to 12 hours to receive updates!").hint--bottom.hint--warning.hint--rounded Chrome
            hr
            h4.center Features
            div.row
                div.one-half.column
                    ul.u-pull-right
                        li AutoWoot
                        li AutoJoin
                        li Hide Video
                        li Legacy Chat
                        li Booth Alert
                        li Chat Images
                div.one-half.column
                    ul.u-pull-left
                        li Custom Emotes
                        li Chat Mentions
                        li
                            h6 Join Notifications
                            ul
                                li Ranks
                                li Friends
