$smallest_message_height: 28px;

%hide {
  visibility: hidden;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}

#chat {
  div.message, div.emote, div.mention {
    min-height: $smallest_message_height;

    div.badge-box {
      @extend %hide;
    }
    div.from > span.un:first-child {
      padding-left: 15px;
    }
  }

  div.delete-button {
    $delete-margin: 5px;
    $delete-height: $smallest_message_height - ($delete-margin * 2);

    // Move button away from sides of message and add left-right padding
    margin: $delete-margin;
    padding: 0 5px;

    // Make 'delete' text vertically centered
    height: $delete-height;
    line-height: $delete-height;

    // Clear plug's way of aligning the delete button
    top: 0;
    right: 0;
  }

  div.moderation, div.user-action {
    div.badge-box {
      width: auto;
      min-width: 15px;

      height: auto;
      min-height: 15px;

      margin: 0;
      padding: 6px 0 6px 6px;

      background: 0 0;

      i%smaller {
        -webkit-transform: scale(.8, .8);
        -moz-transform: scale(.8, .8);
        -ms-transform: scale(.8, .8);
        -o-transform: scale(.8, .8);
        transform: scale(.8, .8);
      }

      i.icon-skip {
        margin-left: -3px;
        @extend %smaller;
      }

      i.icon-gift {
        margin-left: -8px;
        @extend %smaller;
      }

      i.icon-unlocked-grey, i.icon-locked-grey {
        margin-left: -8px;
        @extend %smaller;
      }

      i.icon-join-waitlist {
        margin-left: -9px;
        margin-top: -6px;
        @extend %smaller;
      }

      i.icon-mute {
        @extend %smaller;
      }

      i.icon-ban {
        margin-left: -4px;
        @extend %smaller;
      }

      i.icon-arrow-up, i.icon-arrow-down {
        margin-left: -10px;
        margin-top: -10px;
        @extend %smaller;
      }
    }
  }

  div.moderation, div.user-action, div.message, div.emote, div.mention {
    div.msg {
      padding: 6px;
    }
  }

  div.text {
    display: inline;
  }

  div.from {
    display: inline;

    i.icon {
      margin-right: 0;
    }

    span.un {
      margin: 0 4px;
    }

    span.timestamp {
      margin-left: 10px;
    }
  }

  // Show only a single icon, preferring the highest-ranking one
  div.admin {
    i:not(.icon-chat-admin) {
      @extend %hide;
    }
  }

  div.ambassador {
    i:not(.icon-chat-ambassador) {
      @extend %hide;
    }
  }

  div.staff {
    i:not(.icon-chat-host):not(.icon-chat-cohost):not(.icon-chat-manager):not(.icon-chat-bouncer):not(.icon-chat-dj) {
      @extend %hide;
    }
  }
}